<header class="fixed">
    <h1>{{communityName}}</h1>
</header>
<article class="content scrollable header">
    <div class="center">
        <i class="fa fa-hourglass-half fa-5x fa-spin"></i>
    </div>
    <p>{{progressLabel}} <span id="currentList"></span>...</p>
</article>
